{% extends 'core/sidebar_base.html' %}

{% block pagecontent %}

<div class="row">

    <!-- LEFT INFO -->
    <div class="col-md-6">

        <div class="card p-4 bg-white text-dark shadow">


            <h4>🔐 Random Password Generator</h4>

            <p>
                Generate strong and secure passwords using
                letters, numbers and symbols for better security.
            </p>

            <h5>Steps:</h5>
            <ol>
                <li>Select password length</li>
                <li>Click Generate</li>
                <li>Copy password</li>
            </ol>

            <h5>Input:</h5>
            Length number

            <h5>Output:</h5>
            Random secure password

        </div>

    </div>


    <!-- RIGHT TOOL -->
    <div class="col-md-6">

        <div class="card p-4">

            <h4 class="mb-3">🛠 Tool Use</h4>

            <form method="POST">
                {% csrf_token %}

                <input type="number"
                       name="length"
                       min="6"
                       max="30"
                       value="10"
                       class="form-control mb-3">

                <button class="btn btn-primary w-100">
                    Generate Password
                </button>
            </form>

             {% if result %}
    <div class="alert alert-success mt-3 text-center">
        {{ result }}
    </div>
{% endif %}

<div class="d-flex gap-2 mt-3">

    <!-- Reset -->
    <a href="" class="btn btn-secondary btn-sm w-50">
        Reset
    </a>

    <!-- Back -->
    <a href="/tools/" class="btn btn-dark btn-sm w-50 fw-semibold">
        ← Back
    </a>

</div>

        </div>

    </div>

</div>

{% endblock %}
